$basebgcolor: #fff;
$textcolor: #222222;
$primarybgcolor1: #dd1122;
$primaryfgcolor1: #fff;
$primaryfgcolor1hover: #eedd44;
$primaryfgcolor1active: #eedd44;
$primaryfgcolor1visited: #fbb;
$border-rounding: 8px;
$header-bg: linear-gradient(0deg, rgba(236,4,4,1) 28%, rgba(103,8,8,1) 100%);
$footer-bg: linear-gradient(180deg, rgba(236,4,4,1) 28%, rgba(103,8,8,1) 100%);