@import "mixins";

header {
    .box {
        @include primary-element;
        @include primary-element;
        background: $header-bg;
        border-radius: 0px 0px $border-rounding $border-rounding;
        padding: 10px;
    }
}

footer {
    font-size: x-small;
    text-align: center;
    .box {
        @include primary-element;
        background: $footer-bg;
        border-radius: $border-rounding $border-rounding 0px 0px;
        padding: 20px;
        height: 80px;
    }
}

nav.horizontal-menu {
    display: inline-flex;
    float:right;
    ul {
        width: 920px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
        li {
            float: left;
            a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
            };
            a:hover {
                background-color: #111111;
            }
        }
    }
}

#header-menu {
    float: right;
}